.enlarge-on-hover {
    transition: transform 0.4s ease;
}

.enlarge-on-hover:hover {
    transition: .4s;
    transform: scale(1.2);
}

.enlarge-on-hover:active {
    transition: .2s;
    transform: scale(0.9);
}

.enlarge-text{
    transition: transform 0.4s ease;
}

.enlarge-text:hover{
    transition: .4s;
    transform: scale(2);
}